@import url(normalize.css);
@import url(material-icons/material-icons.css);
@import 'https://fonts.googleapis.com/css?family=Roboto';

main, section, header, nav, footer, aside {
    display: block;
}

/* Reset */

.reader> main> aside> header> h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: system,-apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,"Segoe UI",Roboto, sans-serif;
}
body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}
.reader {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.reader> main {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.reader> main> aside {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f4;
    color: #333;
    border-right: 1px solid #DDDDDD;
}
.reader> main> aside.hidden {
    display: none;
}
.reader> main> aside> header {
    flex: 0 0 auto;
    border-bottom: 1px solid #F5F5F5;
    padding: 3px;
    display: flex;
    flex-direction: row;
}
.reader> main> aside> header> h1 {
    flex: 1;
    font-size: 12pt;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.reader> main> aside> header> a.close, .reader> main> aside> header> a.close:link, .reader> main> aside> header> a.close:visited {
    flex: 0 0 2em;
    font-size: 12pt !important;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    outline: 0;
    text-decoration: none;
}
.reader>main>aside>div.content {
    flex: 1 1 0;
    overflow-y: auto;
}
.reader>main>aside#sidebar-toc>div.content#toc-container {
    display: flex;
    flex-direction: column;
}
.reader>main>aside#sidebar-toc>div.content#toc-container a.toc-entry, .reader>main>aside#sidebar-toc>div.content#toc-container a.toc-entry:link, .reader>main>aside#sidebar-toc>div.content#toc-container a.toc-entry:visited {
    flex: 1;
    color: inherit;
    text-decoration: none;
    outline: 0;
    padding: 2px 10px 2px 25px;
}
.reader>main>aside#sidebar-toc>div.content#toc-container a.toc-entry:active, .reader>main>aside#sidebar-toc>div.content#toc-container a.toc-entry:hover {
    background: #c6c6c6;
}
.reader> main> aside> header> a.close:hover, .reader> main> aside> header> a.close:active {
    opacity: 0.6;
}
.reader> main> #bookwrap {
    flex: 1;
    position: relative;
}
.reader> main> #bookwrap> #book> .message {
    text-align: center;
    padding: 10px;
    font-style: italic;
}
.reader> main> #bookwrap> #book> iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}
.reader> nav {
    flex: 0 0 2em;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
    color: navy;
    border-top: 1px solid #c2c0c2;
    box-shadow: inset 0 1px 0 #f5f4f5;
    background-color: #e8e6e8;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e8e6e8),color-stop(100%,#d1cfd1));
    background-image: -webkit-linear-gradient(top,#e8e6e8 0,#d1cfd1 100%);
    background-image: linear-gradient(to bottom,#e8e6e8 0,#d1cfd1 100%);
}
.reader> nav> div {
    flex: 0 0 auto;
}
.reader> nav> div> a, .reader> nav> div> a:link, .reader> nav> div> a:visited, .reader> nav> div> button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    color: inherit;
    background: transparent;
    border: none;
    line-height: 1;
    outline: 0;
}
.reader> nav> div> a:hover, .reader> nav> div> a:active, .reader> nav> div> button:hover {
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 0px 8px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 8px -3px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 8px -3px rgba(0, 0, 0, 0.75);
}

body.not-loaded .reader > nav > div.left, body.not-loaded .reader > nav > div.right {
    visibility: hidden;
}

.reader #sidebar-settings .content fieldset div {
    margin: 10px 0;
    display: flex;
}

.reader #sidebar-settings .content fieldset div label {
    flex: 5;
}

.reader #sidebar-settings .content fieldset div select, .reader #sidebar-settings .content fieldset div input, .reader #sidebar-settings .content fieldset div button {
    flex: 2;
}

.reader nav.showtext .button::after {
	content: attr(title);
	display: inline-block;
	height: 24px;
	vertical-align: middle;
}
.reader nav[showtext] .button::after {
	content: attr(title);
	display: inline-block;
	height: 24px;
	vertical-align: middle;
}

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
