{{/*
<html>

<body>
    <div>
        <div>
            <div>
                CONTENT */}}
            </div>
        </div>
        <div class="footer section">
            <div>BookBrowser {{.CurVersion}}</div>
            <div>Copyright 2017
                <a href="https://geek1011.github.io">Patrick G</a>
            </div>
        </div>
        <script src="/static/view.js"></script>
        <script>
            BookBrowserVersion = "{{.CurVersion}}";
        </script>
        <script src="/static/picomodal.js"></script>
        <script src="/static/updater.js"></script>
</body>

</html>