html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.logo {
  font-family: 'Port Lligat Slab', serif;
  font-size: 25px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: #f2f2f2;
}

.app {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.top-nav {
  display: table-row;
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  height: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-nav .left {
  position: absolute;
  left: 0;
  text-align: left;
}

.top-nav .right {
  position: absolute;
  right: 0;
  text-align: right;
}

.top-nav .item i,
.left-nav .item i {
  margin-right: 1em;
}

.top-nav .item,
.top-nav .item:link,
.top-nav .item:visited {
  text-align: left;
  display: inline-block;
  color: #777;
  padding: 15px;
  line-height: 20px;
  text-decoration: none;
}

.top-nav .item:hover {
  color: #333;
}

.main {
  display: table;
  border-collapse: collapse;
  padding: 20px 15px;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
}

.main .left-nav {
  display: table-cell;
  vertical-align: top;
  padding: 0 20px;
  width: 20%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main .left-nav .section {
  border-bottom: 1px solid #ccc;
}

.left-nav .section .section-header {
  text-transform: uppercase;
  color: #999;
  margin: 20px 0;
}

.main .left-nav .section .section-items .item,
.main .left-nav .section .section-items .item:link,
.main .left-nav .section .section-items .item:visited {
  display: block;
  color: #333;
  padding: 10px;
  text-decoration: none;
}

.main .left-nav .section .section-items .item:hover {
  background: rgba(153, 153, 153, 0.4);
}

.main .view {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.main .view .pagetitle {
  line-height: 1.1;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: normal;
  color: #444;
}

.main .view .booklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main .view .booklist .book {
  display: inline-block;
  margin: 20px;
  max-width: 130px;
}

.main .view .booklist .book .book-info {
  display: block;
}

.main .view .booklist .book .book-info .book-info-title {
  display: block;
  font-weight: bold;
  font-size: 15px;
  color: #444;
  text-decoration: none;
}

.main .view .booklist .book .book-info .book-info-author {
  display: block;
  color: #337ab7;
  text-decoration: none;
}

.main .view .booklist .book .book-cover {
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 130px;
  -webkit-box-shadow: 0 5px 8px -6px #777;
  -moz-box-shadow: 0 5px 8px -6px #777;
  box-shadow: 0 5px 8px -6px #777;
}

.main .view .bookview .book {
  display: table;
}

.main .view .bookview .book .book-cover-container {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  min-width: 320px;
  max-width: 100%;
  padding-right: 20px;
}

.main .view .bookview .book .book-cover-container .book-cover {
  max-width: 100%;
}

.main .view .bookview .book .book-info {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.main .view .bookview .book .book-info .book-info-title {
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: normal;
  color: #444;
}

.main .view .bookview .book .book-info .book-info-author {
  display: block;
  color: #337ab7;
  text-decoration: none;
  font-size: 20px;
}

.main .view .bookview .book .book-info .book-info-download {
  display: block;
}

.main .view .bookview .book .book-info .book-info-download .download-link,
.main .view .bookview .book .book-info .book-info-download .download-link:link,
.main .view .bookview .book .book-info .book-info-download .download-link:visited {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  text-decoration: none;
}

.main .view .bookview .book .book-info .book-info-download .download-link i {
  margin-right: 1em;
}

.main .view .bookview .book .book-info .book-info-download .download-link:last-child {
  border-right: none;
}

.main .view .bookview .book .book-info .book-info-download .download-link:hover {
  background-color: #204d74;
  border-color: #122b40;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.bottom-nav {
  display: table-row;
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  height: 50px;
  text-align: center;
  line-height: 3;
}

.list {
  display: block;
  list-style-type: disc;
  font-size: 15px;
}

.list li {
  margin: 5px 0;
}

.list li a, .list li a:link, .list li a:visited, .bottom-nav a, .bottom-nav a:link, .bottom-nav a:visited {
  text-decoration: none;
  display: inline-block;
  border: none;
  border-bottom: 1px dotted #337ab7;
  color: #337ab7;
}

.list li a:hover, .list li a:active, .bottom-nav a:hover, .bottom-nav a:active {
  color: #2e6da4;
  border-color: #2e6da4;
}

.list li .count-badge {
  display: inline-block;
  margin-left: 1em;
  background: rgba(0,0,0,0.2);
  padding: 1px 7px;
  text-align: center;
  min-width: 1.75em;
  border-radius: 1000px;
  color: #333;
}

/* Horizontal nav */
@media only screen and (max-width: 768px) {
  .main {
    margin: 0;
  }
  .main .left-nav,
  .main .view {
    display: table-row;
    padding-bottom: 40px;
  }
  .main .view .booklist {
  	justify-content: center;
  }
  .main .left-nav .section .section-header {
    display: none;
  }
  .main .left-nav .section .section-items .item,
  .main .left-nav .section .section-items .item:link,
  .main .left-nav .section .section-items .item:visited {
    display: inline-block;
    padding: 10px;
  }
}

/* Single column book view */
@media only screen and (max-width: 580px) {
  .main .view .bookview {
    padding: 15px;
    padding-right: 10px;
  }
  .main .view .bookview .book .book-cover-container {
    display: table-row;
  }
  .main .view .bookview .book .book-cover-container .book-cover {
    min-width: 30px;
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
  }
}
