{{with .Book}}
<div class="single-book">
    <div class="cover">
        <img src="/covers/{{.ID}}.jpg" alt="cover">
        <div class="buttons">
            <a href="/download/{{.ID}}.{{.FileType}}" class="button download">Download {{ .FileType | ToUpper }}</a>
            {{if eq .FileType "epub"}}
            <a class="button read" href="/static/reader/epub/#!/download/{{.ID}}.{{.FileType}}">Read</a>
            {{end}} {{if eq .FileType "pdf"}}
            <a class="button read" href="/static/reader/pdf/web/viewer.html?file=/download/{{.ID}}.{{.FileType}}`">Read</a>
            {{end}}
        </div>
    </div>
    <div class="meta">
        <div class="title">{{.Title}}</div>
        {{with .Author}}
        <a href="/authors/{{.ID}}" class="author">{{.Name}}</a>
        {{end}} {{with .Series}}
        <div class="series">
            <a href="/series/{{.ID}}" class="name">{{.Name}}</a> -
            <span class="index">{{.Index}}</span>
        </div>
        {{end}} {{if .Description}}
        <div class="description">
            {{.Description | raw}}
        </div>
        {{end}}
        <div class="buttons">
            <a href="/download/{{.ID}}.{{.FileType}}" class="button download">Download {{ .FileType | ToUpper }}</a>
            {{if eq .FileType "epub"}}
            <a class="button read" href="/static/reader/epub/#!/download/{{.ID}}.{{.FileType}}">Read</a>
            {{end}} {{if eq .FileType "pdf"}}
            <a class="button read" href="/static/reader/pdf/web/viewer.html?file=/download/{{.ID}}.{{.FileType}}`">Read</a>
            {{end}}
        </div>
    </div>
</div>
{{end}}