	<div class="pagination">
    {{range .Pages}}<a href="?{{.QueryString}}"{{if .Current}} class="current"{{end}}{{if .Next}} class="next"{{end}}{{if .Prev}} class="prev"{{end}}>{{if .Index}}{{.Index}}{{end}}</a>{{end}}
    </div>
