body {
    background: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#reader {
    flex: 1;
    background: #f1f1f1;
    /*border-radius: 10px;*/
    position: relative;
}

#reader #menu {
    position: fixed;
    top: 0;
    left: -800px;
    bottom: 0;
    width: 20%;
    min-width: 200px;
    background: rgb(190,190,190);
    color: black;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    z-index: 200;
    transition: all .25s linear;
}

#reader.menu #menu {
    left:0;
    display: flex;
    flex-direction: column;
}

#reader #menu #menutoolbar {
    color: inherit;
    flex: 0 0 50px;
    line-height: 50px;
    display: flex;
}

#reader #menu #panels {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#reader #menu #menutoolbar a, #reader #menu #menutoolbar a:link, #reader #menu #menutoolbar a:visited {
    background: inherit;
    display: inline-block;
    outline: 0;
    color: lightgray;
    text-decoration: none;
    border-bottom: 3px solid lightgray;
    line-height: inherit;
    flex: 1;
    text-align: center;
}

#reader #menu #menutoolbar a:hover, #reader #menu #menutoolbar a:active, #reader #menu #menutoolbar a:focus, #reader #menu.bookmarks #bookmarkspanelbutton, #reader #menu.toc #tocpanelbutton {
    color: inherit !important;
    border-bottom: 3px solid black !important;
}

#reader #menu .panel {
    display: none;
    overflow-x: hidden;
    flex: 1;
}

#reader #menu.bookmarks #bookmarkspanel, #reader #menu.toc #tocpanel {
    display: block;
}

#reader #menu .panel a, #reader #menu .panel a:link, #reader #menu .panel a:visited {
    outline: 0;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px;
}

#reader #menu .panel a:active, #reader #menu .panel a:hover, #reader #menu .panel a:focus {
    opacity: 0.7;
}

#reader #book {
    background: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#reader #book #nav {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 2em;
    flex: 0 0 2em;
    line-height: 2em;
    background: inherit;
    z-index: 100;
    border-radius: inherit;
    display: flex;
}

#reader #book #nav #left, #reader #book #nav #center, #reader #book #nav #right {
    flex: 1;
}

#reader #book #nav #left {text-align: left;padding-left: 15px;}
#reader #book #nav #center {text-align: center;-webkit-user-select: none;flex-grow: 100;margin-left:30px;margin-right:30px;}
#reader:not(.menu) #book #nav #center {-webkit-app-region: drag;}
#reader #book #nav #right {text-align: right;padding-right: 30px;}

#reader #book #nav span, #reader #book #nav .button, #reader #book #nav .button:link, #reader #book #nav .button:visited {
    outline: 0;
    text-decoration: inherit;
    color: rgba(0,0,0,0.6);
}

#reader #book #nav span:hover, #reader #book #nav .button:hover, #reader #book #nav .button:active, #reader #book #nav .button:focus {
    color: black;
}

#reader #book #currentpage, #reader #book #nav #meta {
    color: rgba(0,0,0,0.6);
    font-size: .8em;
}
#reader #book #footer {
    display: block;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    flex: 0 0 1em;
    line-height: 1em;
    text-align: center;
    color: rgba(0,0,0,0.6);
}


#reader #book #inner {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#reader #book #inner .pagecontrol, #reader #book #inner .pagecontrol:link, #reader #book #inner .pagecontrol:visited {
    flex: 0 0 50px;
    outline: 0;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    text-align: center;
    padding-top: 50vh;
    padding-bottom: 50vh;
}

#reader #book #inner .pagecontrol:hover, #reader #book #inner .pagecontrol:active, #reader #book #inner .pagecontrol:focus {
    color: black;
}

#reader #book #inner #bookcontent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#reader #book #inner #bookcontent iframe {
    flex: 1;
}

